In [132]:
greetings = "Assalam-o-Alaikum!"
print(greetings)

Assalam-o-Alaikum!

### Import Libraries

In [133]:
import numpy as np
import pandas as pd
from scipy.stats import f_oneway
from scipy.stats import binom_test
from scipy.stats import chi2_contingency
from statsmodels.stats.multicomp import pairwise_tukeyhsd

In [134]:
dog = pd.read_csv("dog.txt")
dog

,is_rescue,weight,tail_length,age,color,likes_children,is_hypoallergenic,name,breed
0,0,6,2.25,2,black,1,0,Huey,chihuahua
1,0,4,5.36,4,black,0,0,Cherish,chihuahua
2,0,7,3.63,3,black,0,1,Becka,chihuahua
3,0,5,0.19,2,black,0,0,Addie,chihuahua
4,0,5,0.37,1,black,1,1,Beverlee,chihuahua
...,...,...,...,...,...,...,...,...,...
795,0,24,14.34,6,grey,0,0,Galvin,whippet
796,0,42,7.04,12,grey,0,1,Cecilla,whippet
797,0,58,10.59,8,grey,1,0,Regina,whippet
798,0,62,18.83,1,grey,1,0,Ellwood,whippet
799,0,27,15.18,3,grey,0,0,Gard,whippets

### Dog Attributes

**rottweile tail length**

In [135]:
# Easy way
rot_tl = dog[dog["breed"] == "rottweiler"]
rot_tl["tail_length"][0:5]

400    3.13
401    3.32
402    1.16
403    2.23
404    8.86
Name: tail_length, dtype: float64

**rottweiler mean & std**

In [136]:
# Easy Way
tail = dog[dog["breed"] == "rottweiler"]
m= np.mean(tail["tail_length"])
print("Mean =", m)

s = np.std(tail["tail_length"])
print("Std =", s)

Mean = 4.2360999999999995
Std = 2.0647536874891395

**Whippet Rescue**

In [137]:
# Easy way
we_rescue = dog[dog["breed"] == "whippet"]
we_rescue["is_rescue"][0:5]

700    0
701    0
702    0
703    0
704    0
Name: is_rescue, dtype: int64

**Count number of whippet rescues**

In [138]:
# Easy way
whippet = dog[dog["breed"] == "whippet"]
rescued_whippets = whippet["is_rescue"].sum()
rescued_whippets

6

**Size of whippet's is_rescue column**

In [139]:
# Easy way
total_whippets = np.size(whippet["is_rescue"])
total_whippets

99

**Binom Test to check null hypotheasis = 8% whippets are rescued**

In [140]:
test = binom_test(rescued_whippets, total_whippets, 0.08)
test

0.5810192714432574

**Whippets Weight**

In [141]:
w = dog[dog["breed"] == "whippet"]
ww = w["weight"]
ww[0:5]

700    12
701    46
702    13
703    52
704    53
Name: weight, dtype: int64

**terrier weight**

In [142]:
t = dog[dog["breed"] == "terrier"]
tw = t["weight"]
tw[0:5]

600    26
601     2
602    38
603    31
604    33
Name: weight, dtype: int64

**Pitbull weight**

In [143]:
p = dog[dog["breed"] == "pitbull"]
pw = p["weight"]
pw[0:5]

200    71
201    26
202    56
203    33
204    54
Name: weight, dtype: int64

**One way ANOVA Test**

In [144]:
f, p = f_oneway(ww, tw, pw)
p

2.4937091704472013e-17

In [145]:
p > 0.05

False

**Pairwise Tukeyhsd**

In [146]:
values = np.concatenate([ww, tw, pw])
values[0:5]

array([12, 46, 13, 52, 53], dtype=int64)

In [147]:
labels = ["whippet"] * len(ww) + ["terrier"] * len(tw) + ["pitbull"] * len(pw)
labels[0:5]

['whippet', 'whippet', 'whippet', 'whippet', 'whippet']

In [148]:
print(pairwise_tukeyhsd(values, labels, 0.05))

  Multiple Comparison of Means - Tukey HSD, FWER=0.05
=======================================================
 group1  group2 meandiff p-adj   lower    upper  reject
-------------------------------------------------------
pitbull terrier   -13.24  0.001 -16.7236 -9.7564   True
pitbull whippet  -3.2004 0.0802  -6.6927  0.2919  False
terrier whippet  10.0396  0.001   6.5473 13.5319   True
-------------------------------------------------------

**Chi2_Contingency**

In [149]:
# poodle_colors
p = dog[dog["breed"] == "poodle"]
pc = p["color"].value_counts().to_frame().reset_index()
pc.columns = ["colors", "poodles"]
pc

  colors  poodles
0   grey       52
1  black       17
2  brown       13
3  white       10
4   gold        8

In [150]:
# shihtzu_colors
s = dog[dog["breed"] == "shihtzu"]
sc = s["color"].value_counts().to_frame().reset_index()
sc.columns = ["colors", "shihtzu"]
sc

  colors  shihtzu
0   grey       41
1  brown       36
2  black       10
3  white        7
4   gold        6

In [151]:
color_table = pd.merge(pc, sc, on = "colors")
color_table = color_table.drop(columns = ["colors"])
color_table

   poodles  shihtzu
0       52       41
1       17       10
2       13       36
3       10        7
4        8        6

In [152]:
color_table = color_table.values.tolist()
color_table

[[52, 41], [17, 10], [13, 36], [10, 7], [8, 6]]

In [153]:
_, color_pval, _, _, = chi2_contingency(color_table)
print(color_pval)

0.005302408293244601

In [164]:
color_pval > 0.05

False