In [1]:
greetings = "Assalam-o-Alaikum!"
print(greetings)

Assalam-o-Alaikum!

### Import Libraries

In [2]:
import pandas as pd

### Data

In [3]:
hairstyles = ["bouffant", "pixie", "dreadlocks", "crew", "bowl", "bob", "mohawk", "flattop"]
prices = [30, 25, 40, 20, 20, 35, 50, 35]
last_week = [2, 3, 5, 8, 4, 4, 6, 2]

In [4]:
df = pd.DataFrame({"Hair Style": hairstyles,
                   "Price": prices,
                   "Last Week": last_week})
df

   Hair Style  Price  Last Week
0    bouffant     30          2
1       pixie     25          3
2  dreadlocks     40          5
3        crew     20          8
4        bowl     20          4
5         bob     35          4
6      mohawk     50          6
7     flattop     35          2

**Most Revenue by Hair Style**

In [5]:
df["Revenue"] = df["Price"] * df["Last Week"]
df

   Hair Style  Price  Last Week  Revenue
0    bouffant     30          2       60
1       pixie     25          3       75
2  dreadlocks     40          5      200
3        crew     20          8      160
4        bowl     20          4       80
5         bob     35          4      140
6      mohawk     50          6      300
7     flattop     35          2       70

**Made Category by Hair Style Price**

In [6]:
def category(x):
    if x >= 20 and x < 30:
        return "Economy"
    elif x >= 30 and x < 40:
        return "Standard"
    else:
        return "Premium"

In [7]:
df["Category"] = df["Price"].apply(category)
df

   Hair Style  Price  Last Week  Revenue  Category
0    bouffant     30          2       60  Standard
1       pixie     25          3       75   Economy
2  dreadlocks     40          5      200   Premium
3        crew     20          8      160   Economy
4        bowl     20          4       80   Economy
5         bob     35          4      140  Standard
6      mohawk     50          6      300   Premium
7     flattop     35          2       70  Standard

**Costly Hair Style**

In [8]:
chs = df[df["Price"] == df["Price"].max()]
chs

  Hair Style  Price  Last Week  Revenue Category
6     mohawk     50          6      300  Premium

**Cheapest Hair Style**

In [9]:
chs = df[df["Price"] == df["Price"].min()]
chs

  Hair Style  Price  Last Week  Revenue Category
3       crew     20          8      160  Economy
4       bowl     20          4       80  Economy

**Most Frequent Hair Style**

In [10]:
fhs = df[df["Last Week"] == df["Last Week"].max()]
fhs

  Hair Style  Price  Last Week  Revenue Category
3       crew     20          8      160  Economy

**Least Frequent Hair Style**

In [11]:
fhs = df[df["Last Week"] == df["Last Week"].min()]
fhs

  Hair Style  Price  Last Week  Revenue  Category
0   bouffant     30          2       60  Standard
7    flattop     35          2       70  Standard

**Highest Revenue by Hair Style**

In [12]:
hr = df[df["Revenue"] == df["Revenue"].max()]
hr

  Hair Style  Price  Last Week  Revenue Category
6     mohawk     50          6      300  Premium

**Lowest Revenue by Hair Style**

In [13]:
lr = df[df["Revenue"] == df["Revenue"].min()]
lr

  Hair Style  Price  Last Week  Revenue  Category
0   bouffant     30          2       60  Standard

**Average Price of Hair Style**

In [14]:
ahs = df["Price"].mean()
print("Averae Price of Hair Style = " + "$" + str(ahs))

Averae Price of Hair Style = $31.875

**Average Customers by Last Week**

In [15]:
clw = df["Last Week"].mean()
print("Average Customers by Last Week =", str(clw))

Average Customers by Last Week = 4.25

**Average Revenue by Last Week**

In [16]:
rlw = df["Revenue"].mean()
print("Average Revenue by Last Week =", str(rlw))

Average Revenue by Last Week = 135.625

**Total Price of Hair Styles**

In [27]:
phs = df["Price"].sum()
print("Total Price of Hair Styles =", "$" + str(phs))

Total Price of Hair Styles = $255

**Total Customers by Last Week**

In [31]:
clw = df["Last Week"].sum()
print("Total Customers by Last Week =", str(clw))

Total Customers by Last Week = 34

**Total Revenue by Last Week**

In [33]:
rlw = df["Revenue"].sum()
print("Total Revenue by Last Week = $" + str(rlw))

Total Revenue by Last Week = $ 1085

**Statistics of Hair Style Price by Category**

In [21]:
sc = df.groupby("Category")["Price"].agg(["count", "sum", "min", "mean", "max"]).round(2).reset_index()
sc.columns = ["Category", "Customers", "Total Price", "Minimum Price", "Average Price", "Maximum Price"]
sc

,Category,Customers,Total Price,Minimum Price,Average Price,Maximum Price
0,Economy,3,65,20,21.67,25
1,Premium,2,90,40,45.00,50
2,Standard,3,100,30,33.33,35

**Statistics of Hair Style Sold by Category**

In [24]:
shc = df.groupby("Category")["Last Week"].agg(["count", "sum", "min", "mean", "max"]).round(2).reset_index()
shc.columns = ["Category", "Customers", "Hairstyle Sold", "Min 1 Style", "Avg 1 Style", "Max 1 Style"]
shc

   Category  Customers  Hairstyle Sold  Min 1 Style  Avg 1 Style  Max 1 Style
0   Economy          3              15            3         5.00            8
1   Premium          2              11            5         5.50            6
2  Standard          3               8            2         2.67            4

**Statistics of Revenue by Hair Style Class**

In [26]:
rhs = df.groupby("Category")["Revenue"].agg(["count", "sum", "min", "mean", "max"]).reset_index()
rhs.columns = ["Category", "Customers", "Total Revenue", "Min Revenue","Avg Revenue", "Max Revenue"]
rhs

   Category  Customers  Total Revenue  Min Revenue  Avg Revenue  Max Revenue
0   Economy          3            315           75          105          160
1   Premium          2            500          200          250          300
2  Standard          3            270           60           90          140